<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <a href="/">Главная страница</a> / <a href="/about">Об авторе</a> / <a href="/items">Список товаров</a>
    </header>
    <br></br>
    Имя: <strong>{{first_name}}</strong></br>
    Отчество: <strong>{{middle_name}}</strong></br>
    Фамилия: <strong>{{second_name}}</strong></br>
    телефон: <strong>{{phone}}</strong></br>
    email: <strong>{{email}}</strong> 
</body>
</html>