<!-- {% load static %}
{% static 'main.css' %} -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<ul class="breadcrumb" >
    <li><a href="/">Главная страница</a></li>
    <li><a href="/about">Об авторе</a></li>
    <li><a href="/items">Список товаров</a></li>
</ul>
<body>
    <h1>Приветствую!</h1>

    Меня зовут: <i>{{name}}</i>
    Мой email: <i>{{email}}</i>
    <p>Это главная страница сайта</p>
    <i>Сайт пока в разработке</i>
    <br></br>
    <a href="/items">Список товаров</a>
   

</body>
</html>
