<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<ul class="breadcrumb" >
    <li><a href="/">Главная страница</a></li>
    <li><a href="/about">Об авторе</a></li>
    <li><a href="/items">Список товаров</a></li>
</ul>
<body>
    <h2>Название: {{item.name}}</h2> 
    {% if item.quantity %}
    <p>Кол-во: {{item.quantity}}</p>
    {% else %}
    <p>Товар отсутствует</p>
    {% endif %}
    <a href="/items">назад к списку товаров</a>    
</body>
</html>

