{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h2>Название: {{item.name}}</h2>
    <h3>Производитель: {{item.brand}}</h3> 
    <div>
    {% if item.count %}
    <p>Кол-во: {{item.count}}</p>
        {% if colors %}
        <ul class="colors">
            {% for color in colors %}
            <!-- <style>
                li {
                 color: {{color.name}}; /* Цвет маркеров */
                }
                li span {
                 color: navy; /* Цвет текста */
                }
               </style> -->
            <li style="color: {{color.name}};"><span style="color: black;">{{color.name}}</span></li>
            {% endfor %}
        </ul>
        {% endif %}
    {% else %}
    <p>Товар отсутствует</p>
    {% endif %}
    </div>
    <p>{{item.description}}</p>
    <a href="{% url 'itemslist' %}">назад к списку товаров</a>    
{% endblock %}


